.chat{
    color: white;
}

.drop {
    padding: 2px;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    background: #142e40;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  #nav-dropdown{
    color: white;
    font-weight: bold;
    background-color: rgb(5, 7, 29);
}
.login {
    padding-right: 5px;
    border: 2px;
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: #15e62a;
    padding: 9px 20px 10px 20px;
    text-decoration: none;
  }
